@using LearnHub.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section id="loginForm" class="login">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
            <div class="card border border-warning rounded">
                <div class="card-body">
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <div class="input-group form-group">
                        <div class="input-group-prepend text-center">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "username" })
                        @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password" })
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="row align-items-center remember">
                        <div class="col-6">
                            @Html.CheckBoxFor(m => m.RememberMe) &nbsp; Remember Me
                        </div>

                        <div class="col-6">
                            <input type="submit" value="Log in" class="btn btn-warning btn-block text-white" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account? &nbsp;<a href="#">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        
    }
</section>

@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}